** start of undefined **

#image{
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

figcaption{
  color: brown;
  text-align: center;
}

ul li{
  margin-bottom: 15px;
  color: brown;
}
body{
  background-color: beige;
}



